# Shopify store domain, e.g. my-store.myshopify.com
SHOPIFY_STORE_DOMAIN=mpshop.myshopify.com
# Admin API access token for your private/custom app
SHOPIFY_ACCESS_TOKEN=shpca_xxxxxxxxxxxxxxxxxxxx

SHOPIFY_DEFAULT_LOCATION_ID=gid://shopify/Location/xxxxxxxx

# Shopify API version
SHOPIFY_API_VERSION=2025-10